h1{
	color: #373F56;
	font-family: sans-serif;
}

.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}


.jumbotron{
	background-color: #A9BCD0;
	text-align: center;
	border-radius: 2px;
}

.resultsContainer {
  width: 750px;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 2px;
  font-size: 18px;
}
