<h1>Admin Page</h1>
<form name="loginForm" ng-submit="login()">
  <input type="text" ng-model="user.username" required>
  <input type="password" ng-model="user.password" required>
  <br>
  <button ng-if="!!user.password && !!user.username">Login</button>
  <p ng-if="!user.password || !user.username">Please Enter Your Credentails</p>
</form>

<div>sign in error: {{errorMessage}}</div>

<div>{{authorized}}</div>

<div ng-show="authorized">
	<button ng-click="getReport()">Show Report</button>
	<h3>REPORT</h3>
	<div ng-repeat="record in report">
		<div><strong>Search Term</strong>{{record.search_term}}</div>
		<div><strong>Zip Code</strong>{{record.zip_code}}</div>
		<div><strong>Time of Search</strong>{{record.date_time}}</div>
		<div><strong>IP address</strong>{{record.ip_address}}</div>
	</div>
	<div class="tracking">
		<h3>TRACKING HTML</h3>
		<form name="trackingForm" ng-submit="submitHTML()">
			<textarea rows=10 cols=100 ng-model="trackingHTML" size=250 placeholder="Enter Tracking HTML Here"></textarea>
			<div>trackingHTML: {{trackingHTML}}</div>
			<button>Submit Tracking HTML</button>
		</form>
	</div>
</div>